BACKEND_URL=http://localhost:8080
AUTH_URL=http://localhost:8000
CLIENT_ID=ead85488-0ee1-41f9-9703-eac26103f5f4
REDIRECT_URI=http://localhost:4000/api/auth/callback

# Stripe configuration
STRIPE_WEBHOOK_SECRET=wh_replace_with_your_webhook_secret
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_replace_with_your_publishable_key
STRIPE_SECRET_KEY=sk_replace_with_your_secret_key


INTERNAL_SECRET=wh_replace_with_your_internal_secret