.claude
CLAUDE.md
*/.claude
.DS_Store
.idea
vendor
/superpowers
.cursor
*/.cursor
.agent
*/agent
.agents
*/agents
# Added by code-review-graph
.code-review-graph/
.cursorrules
.mcp.json
AGENTS.md
skills-lock.json